@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.bouton-accueil {
  display: flex;
  justify-content: center;
}
.bouton-accueil :hover {
  box-shadow: 0px 0px 10px 0px rgba(26, 25, 25, 0.3);
}

.btn {
  border: 2px solid transparent;
  border-radius: 45px;
  background: linear-gradient(to bottom right, #FF79DA, #9356dc);
  color: white;
  cursor: pointer;
  opacity: 1;
  min-width: 50%;
  max-width: 550%;
  height: 60px;
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-weight: 400;
  font-size: 1.3em;
  padding-left: 15px;
  padding-right: 15px;
}

.texte-bouton {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-weight: 400;
  font-size: 1.9em;
  padding-left: 15px;
  padding-right: 15px;
}

footer {
  background: #353535;
  width: 100%;
  padding-bottom: 50px;
}

.logo-footer {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.8em;
  width: 27%;
  height: 17px;
  color: white;
  margin-left: 30px;
  margin-bottom: 25px;
  padding: 15px 0px 15px 0px;
}

.footer-commun {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.6em;
  color: white;
  margin-left: 30px;
}

.icone-texte-footer {
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 30px;
}

.icone-footer {
  color: white;
  font-size: 0.8em;
}

.icone-texte-footer p {
  margin: 0px 0px 0px 15px;
}

.txt-footer p {
  margin: 0px 0px 0px 30px;
}

.fa-utensils {
  padding-right: 9px;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3%;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo-header {
  width: 40%;
  padding-top: 25px;
  padding-bottom: 15px;
}

.fleche-retour {
  display: flex;
  justify-content: flex-start;
  width: 10%;
  font-size: 2em;
  margin-left: 30px;
}

.logo-menu {
  display: flex;
  justify-content: center;
  width: 80%;
}

.section-1-menu img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: static;
}

.menu {
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 30px 30px 0 0;
  background-color: #fff;
  width: 100%;
  position: relative;
  top: -30px;
  margin-top: -50px;
}

.titre-section-2-menu {
  font-family: "Shrikhand", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
}
.titre-section-2-menu .fa-heart {
  font-size: 1.6em;
  margin-right: 30px;
  cursor: pointer;
}

.section-2-menu {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-weight: 400;
  font-size: 1.3em;
  margin-left: 30px;
  position: relative;
  text-decoration: underline 3px #99E2D0;
}

.choix-plats {
  margin-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.choix-plats p {
  font-weight: 400;
}

.repas {
  display: flex;
  justify-content: space-between;
  width: 90%;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: 0px 6px 10px #f2f2f2;
  padding: 0px 15px 0px 20px;
  margin-bottom: 20px;
}

.prix {
  display: flex;
  align-items: flex-end;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3%;
}

.header-accueil {
  display: flex;
  justify-content: center;
}

.logo-header {
  width: 40%;
  padding-top: 25px;
  padding-bottom: 15px;
}

.localisation {
  background: linear-gradient(#e2e2e2, #f2f2f2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0px 20px 0px;
}

.pointage_lieu {
  font-size: 1.4rem;
  padding-right: 0.6rem;
}

.localisation p {
  outline-style: none;
  border: none;
  background-color: transparent;
  color: black;
  opacity: 1;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

h1 h3 {
  margin: 0;
  padding: 0;
}

.titres-section-1-accueil {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.titre-principal {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.titre-principal h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  width: 65%;
  margin-bottom: 0;
}

.descriptif-titre-principal {
  display: flex;
  justify-content: center;
}

.descriptif-titre-principal h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.7rem;
  text-align: center;
  width: 80%;
}

.titres-section-2-accueil {
  margin-left: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.6em;
  padding-bottom: 50px;
}

.etapes-accueil {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: -15px;
}
@media screen and (min-width: 768px) {
  .etapes-accueil {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}

.filtres {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.choix {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0px 6px 10px #F2F2F2;
  border-radius: 20px;
  height: 60px;
  width: 90%;
  margin-left: -15px;
}
.choix:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.choix:hover .fa-fw {
  color: #9356dc;
}

.numero-etape {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  z-index: 2;
  border: 1px solid transparent;
  border-radius: 90%;
  background: #9356dc;
  color: white;
  width: 25px;
  height: 25px;
  margin-top: 15px;
  margin-left: 30px;
}

.contenu-filtres {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  margin-left: 40px;
}
@media screen and (min-width: 768px) {
  .contenu-filtres {
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 10px;
  }
}
.contenu-filtres p {
  display: flex;
  justify-content: center;
  z-index: 2;
  margin-left: 70px;
  color: black;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .contenu-filtres p {
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 10px;
  }
}

.fa-fw {
  color: gray;
}

.section-3-accueil {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.titres-section-3-accueil {
  margin-left: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.6em;
}

.page-menu {
  width: 100%;
  text-decoration: none;
}

.nom-resto {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  border: solid 1px #FFFFFF;
  border-radius: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 90%;
  height: 280px;
  box-shadow: 0px 6px 10px #f2f2f2;
  text-decoration: none;
}

.nom-resto img {
  display: flex;
  justify-content: center;
  object-fit: cover;
  width: 100%;
  height: 177px;
  border-radius: 30px 30px 0px 0px;
}

.ensemble-resto {
  margin-left: 30px;
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.descriptif-section-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.descriptif-resto {
  display: flex;
  flex-direction: column;
}

.descriptif-resto h3 {
  font-size: 1.5em;
  margin: 20px 0px 5px 10px;
}

.descriptif-resto p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.4em;
  margin: 5px 0px 20px 10px;
}

.coeur-favori {
  padding-right: 25px;
  font-size: 2em;
}

/*# sourceMappingURL=style.css.map */
