@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.chargement-page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: white;
  z-index: 5;
  height: 100%;
  width: 100%;
  animation-name: animation-chargement;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 0.6s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: running;
  animation-fill-mode: forwards;
}
.chargement-page body {
  opacity: 0.5;
}

@keyframes animation-chargement {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  99% {
    z-index: 5;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.cercle1 {
  border: 10px solid transparent;
  border-top: 10px solid #9356dc;
  border-bottom: 10px solid #FF79DA;
  border-radius: 90%;
  z-index: 4;
  width: 100px;
  height: 100px;
  animation: rotate-center 1s linear 0.6s;
  animation-iteration-count: 3;
}

.cercle2 {
  border: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-radius: 90%;
  z-index: 3;
  width: 80px;
  height: 80px;
}

.cercle3 {
  border: 10px solid transparent;
  border-bottom: 10px solid #99E2D0;
  border-top: 10px solid #99E2D0;
  border-radius: 90%;
  z-index: 2;
  width: 60px;
  height: 60px;
  animation: rotate-center 1s linear 0.6s;
  animation-iteration-count: 3;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.bouton-accueil {
  display: flex;
  justify-content: center;
}
.bouton-accueil :hover {
  box-shadow: 0px 0px 20px 0px rgba(26, 25, 25, 0.3);
}

.btn {
  border: none;
  border-radius: 45px;
  background: linear-gradient(to bottom right, #FF79DA, #9356dc);
  color: white;
  cursor: pointer;
  opacity: 1;
  min-width: 50%;
  max-width: 55%;
  height: 60px;
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-weight: 400;
  font-size: 1.3em;
  padding-left: 15px;
  padding-right: 15px;
}
.btn:hover {
  filter: brightness(1.5);
}

.texte-bouton {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-weight: 400;
  font-size: 1.9em;
  padding-left: 15px;
  padding-right: 15px;
}

svg {
  overflow: visible;
  width: 30px;
}

.favori {
  fill: white;
  stroke: black;
  stroke-width: 10px;
}
.favori:hover {
  fill: url(#gradient-fill);
  stroke-width: 0px;
  animation-name: favori;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

@keyframes favori {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer {
  background: #353535;
  width: 100%;
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .ensemble-footer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding-top: 50px;
  }
}

.logo-footer {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.5em;
  height: 17px;
  color: white;
  margin-left: 30px;
  margin-bottom: 25px;
  padding: 15px 0px 15px 0px;
}

.footer-commun {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  color: white;
  margin-left: 30px;
}

.icone-texte-footer {
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 30px;
}

.icone-footer {
  color: white;
  font-size: 0.8em;
}

.icone-texte-footer p {
  margin: 0px 0px 0px 15px;
}

.txt-footer p {
  margin: 0px 15px 0px 30px;
}

.fa-utensils {
  padding-right: 9px;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3%;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nom-entreprise {
  font-size: 2.2em;
  font-family: "Shrikhand", sans-serif;
  margin: 20px 0px 15px 0px;
}

.fleche-retour {
  display: flex;
  justify-content: flex-start;
  font-size: 2em;
  margin-left: 1%;
}

.section-1-menu img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.menu {
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 30px 30px 0 0;
  background-color: #fff;
  position: relative;
  margin-top: -50px;
}
@media screen and (min-width: 768px) {
  .menu {
    margin-left: 15%;
    margin-right: 15%;
  }
}

.titre-section-2-menu {
  font-family: "Shrikhand", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
}
.titre-section-2-menu .fa-heart {
  font-size: 1.6em;
  margin-right: 30px;
  cursor: pointer;
}

.section-2-menu {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-weight: 400;
  font-size: 1.3em;
  margin-left: 30px;
  position: relative;
  width: max-content;
}

.section-2-menu::after {
  content: "\a";
  white-space: pre;
  border-bottom: solid 3px #99E2D0;
  width: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.choix-plats {
  margin-bottom: 10px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.choix-plats p h3 {
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.assiette {
  width: 100%;
  display: block;
  overflow: hidden;
}
.assiette p {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.assiette h3 {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.repas {
  display: flex;
  justify-content: space-between;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: 0px 20px 10px #f2f2f2;
  padding-left: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
}
.repas:hover .animation-hover {
  width: 35%;
  /*min-width: 20%;*/
  transition: width 1s;
}
.repas:hover .animation-hover .fa-check-circle {
  transform: rotate(360deg);
  transition: transform 1s;
}

.prix {
  display: flex;
  align-items: flex-end;
  padding-right: 15px;
  padding-left: 15px;
}

.animation-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  transition: width 1s;
  border-radius: 0px 20px 20px 0px;
  background-color: #99E2D0;
}

.fa-check-circle {
  font-size: 1.6em;
  overflow: hidden;
  color: white;
  transform: rotate(0deg);
  transition: transform 1s;
}

.plat1.entrees {
  visibility: hidden;
  animation: apparition-menu 2s forwards;
}

.plat2.entrees {
  visibility: hidden;
  animation: apparition-menu 2s 0.2s forwards;
}

.plat3.entrees {
  visibility: hidden;
  animation: apparition-menu 2s 0.4s forwards;
}

.plat4.entrees {
  visibility: hidden;
  animation: apparition-menu 2s 0.6s forwards;
}

.plat1.plats {
  visibility: hidden;
  animation: apparition-menu 2s 0.8s forwards;
}

.plat2.plats {
  visibility: hidden;
  animation: apparition-menu 2s 1s forwards;
}

.plat3.plats {
  visibility: hidden;
  animation: apparition-menu 2s 1.2s forwards;
}

.plat1.desserts {
  visibility: hidden;
  animation: apparition-menu 2s 1.4s forwards;
}

.plat2.desserts {
  visibility: hidden;
  animation: apparition-menu 2s 1.6s forwards;
}

.plat3.desserts {
  visibility: hidden;
  animation: apparition-menu 2s 1.8s forwards;
}

@keyframes apparition-menu {
  0% {
    opacity: 0;
    transform: translateY(20px);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
  }
}
header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3%;
}

.header-accueil {
  display: flex;
  justify-content: center;
}

span {
  font-size: 2.2em;
  padding-top: 25px;
  padding-bottom: 15px;
  font-family: "Shrikhand", sans-serif;
}

.localisation {
  background: linear-gradient(#e2e2e2, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0px 20px 0px;
}

.pointage_lieu {
  font-size: 1.4rem;
  padding-right: 0.6rem;
}

.localisation p {
  outline-style: none;
  border: none;
  background-color: transparent;
  color: black;
  opacity: 1;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

h1 h3 {
  margin: 0;
  padding: 0;
}

.titres-section-1-accueil {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.titre-principal {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.titre-principal h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  width: 65%;
  margin-bottom: 0;
}

.descriptif-titre-principal {
  display: flex;
  justify-content: center;
}

.descriptif-titre-principal h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.7rem;
  text-align: center;
  width: 80%;
}

.titres-section-2-accueil {
  margin-left: 5%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.6em;
  padding-bottom: 50px;
}

.etapes-accueil {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: -15px;
}
@media screen and (min-width: 768px) {
  .etapes-accueil {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}

.filtres {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.choix {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0px 6px 10px #F2F2F2;
  border-radius: 20px;
  height: 60px;
  width: 90%;
  margin-left: -15px;
}
.choix:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.choix:hover .fa-fw {
  color: #9356dc;
}

.numero-etape {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  z-index: 2;
  border: 1px solid transparent;
  border-radius: 90%;
  background: #9356dc;
  color: white;
  width: 25px;
  height: 25px;
  margin-top: 15px;
  margin-left: 30px;
}

.contenu-filtres {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  margin-left: 40px;
}
@media screen and (min-width: 768px) {
  .contenu-filtres {
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 10px;
  }
}
.contenu-filtres p {
  display: flex;
  justify-content: center;
  z-index: 2;
  margin-left: 70px;
  color: black;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .contenu-filtres p {
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 10px;
  }
}

.fa-fw {
  color: gray;
}

.section-3-accueil {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.titres-section-3-accueil {
  margin-left: 5%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.6em;
}

@media screen and (min-width: 768px) {
  .accueil-responsive {
    margin-left: 15%;
    margin-right: 15%;
  }
}

.page-menu {
  width: 100%;
  text-decoration: none;
}

.nom-resto {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  border: solid 1px #FFFFFF;
  border-radius: 30px;
  margin-bottom: 50px;
  width: 100%;
  height: 280px;
  box-shadow: 0px 6px 10px #f2f2f2;
  text-decoration: none;
  position: relative;
}

.nom-resto img {
  display: flex;
  justify-content: center;
  object-fit: cover;
  width: 100%;
  height: 177px;
  border-radius: 30px 30px 0px 0px;
}

.ensemble-resto {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.descriptif-section-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.descriptif-resto {
  display: flex;
  flex-direction: column;
}

.descriptif-resto h3 {
  font-size: 1.5em;
  margin: 20px 0px 5px 10px;
}

.descriptif-resto p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.4em;
  margin: 5px 0px 20px 10px;
}

.coeur-favori {
  padding-right: 25px;
  font-size: 2em;
}

.nouveau {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  font-weight: 400;
  color: #008766;
  background-color: #99E2D0;
  border-radius: 3px;
  padding: 10px;
  margin: 0;
  width: 20%;
  max-width: 22%;
  top: 5%;
  right: 5%;
  position: absolute;
}

/*# sourceMappingURL=style.css.map */
