svg {
    overflow: visible;
    width: 30px;
}

.favori  {
    fill: white;
    stroke: black;
    stroke-width: 10px;
    
    &:hover {
        fill: url(#gradient-fill);
        stroke-width: 0px;
    }
}

