svg {
    overflow: visible;
    width: 30px;
}

.favori  {
    fill: white;
    stroke: black;
    stroke-width: 5px;
    &path:hover {
    fill: linear-gradient(195deg, #9356dc, #b85ce7, #de64f1, #f96eef, #ff79da);
    }
}

