@mixin police-txt {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
@mixin police-txt-secondaire {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
@mixin police-logo {
    font-family: 'Shrikhand', sans-serif;
}
@mixin flex {
    display: flex;
}
@mixin flex-direction-column {
    display: flex;
    flex-direction: column;
}
@mixin flex-center {
    display: flex;
    justify-content: center;
}
@mixin space-between {
    display: flex;
    justify-content: space-between;
}
@mixin margin-padding-0 {
    margin: 0;
    padding: 0;
}
@mixin titres-sections-accueil {
    margin-left: 5%;
    @include police-txt;
    font-size: 1.6em;
}
@mixin format-mobile {
    @media screen and (min-width:$breakpoints) {
        @include flex-center;
        flex-direction: row;
    }
}
@mixin format-mobile-filtres-accueil {
    @media screen and (min-width:$breakpoints) {
        margin-left: 20px; 
        margin-right: 20px; 
        padding-right: 10px;      
    }
    
}
@mixin page-menu-tab-pc {
    @media screen and (min-width:$breakpoints) {
        margin-left: 15%;
        margin-right: 15%;
    }
}