$couleur-primaire: rgb(147, 86, 220);
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

$couleur-hover-background-st: rgba(147, 86, 220, 0);
$couleur-hover-background-ed: rgba(147, 86, 220, 1);


$breakpoints: 768px;