$couleur-primaire: rgb(147, 86, 220);
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-footer: rgb(53, 53, 53);
$couleur-coeur-hover: linear-gradient(195deg, #9356dc, #b85ce7, #de64f1, #f96eef, #ff79da);

$couleur-hover-background-st: rgba(147, 86, 220, 0);
$couleur-hover-background-ed: rgba(147, 86, 220, .1);


$breakpoints: 768px;