.menu {
    @include flex-center;
    @include flex-direction-column;
    border-radius: 30px 30px 0 0;
    background-color: white;
    z-index: 2; 
    width: 100%;
}

.titre-section-2-menu {
    @include police-logo;
    @include flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    & .fa-heart {
        font-size: 1.6em;
        margin-right: 30px;
    }
}

.section-2-menu {
    @include police-txt-secondaire;
    font-weight: 400;
    font-size: 1.3em;
    margin-left: 30px;
    position: relative;
    text-decoration: underline 5px $couleur-tertiaire;
}

.choix-plats {
    margin-left: 30px;
    margin-bottom: 10px;
    @include police-txt;
    & p {
        font-weight: 100;
    }
}

.repas {
    @include flex;
    justify-content: space-between;
    width: 90%;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 6px 10px #f2f2f2;
    padding: 0px 15px 0px 20px;
    margin-bottom: 20px;
}

.prix {
    @include flex;
    align-items: flex-end;
    @include police-txt;
    font-weight: 400;
}